In [1]:
from inaFaceGender import GenderVideo

In [2]:
g = GenderVideo(threshold= 0.65)

2021-09-17 01:37:09.677355: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:09.682553: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:09.682836: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:09.683651: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2021-09-17 01:37:09.684640: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:09.684910: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:09.685159: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:10.060264: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:10.060552: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:10.060796: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-17 01:37:10.061014: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1510] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 2336 MB memory:  -> device: 0, name: Quadro T2000 with Max-Q Design, pci bus id: 0000:01:00.0, compute capability: 7.5

In [3]:
# without tracking 
%time results = g('./media/pexels-artem-podrez-5725953.mp4')

2021-09-17 01:37:13.576790: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)
2021-09-17 01:37:14.132416: I tensorflow/stream_executor/cuda/cuda_dnn.cc:369] Loaded cuDNN version 8204
2021-09-17 01:37:14.573007: I tensorflow/core/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory

CPU times: user 2min 50s, sys: 9.46 s, total: 3min
Wall time: 1min 4s

In [4]:
results.head()

   frame                       bb label  decision   conf
0    0.0   [(61, 100) (272, 311)]     f    -9.028  0.998
1    0.0   [(950, 0) (1129, 171)]     m    12.605  0.988
2    0.0   [(744, 17) (931, 204)]     f    -6.711  0.987
3    0.0  [(556, 198) (732, 374)]     m    18.179  0.934
4    0.0  [(311, 160) (496, 345)]     f   -13.245  0.809

In [5]:
results.to_csv('./media/pexels-artem-podrez-5725953-notracking.csv', index=False)

In [6]:
%time results = g('./media/pexels-artem-podrez-5725953.mp4', subsamp_coeff=25)

CPU times: user 8.11 s, sys: 388 ms, total: 8.5 s
Wall time: 2.61 s

In [7]:
results.to_csv('./media/pexels-artem-podrez-5725953-notrack-1dectpersec.csv', index=False)

In [6]:
#processing every 2 frames
%time results_per_2_frames = g('/home/ddoukhan/demo_zohra/pretty_woman_small.mp4', per_frames= 2 )

CPU times: user 19min 27s, sys: 15.4 s, total: 19min 43s
Wall time: 3min 42s

In [7]:
results_per_2_frames.head()

   frame                      bb        size label  decision   conf
0    8.0  [(355, 87) (592, 265)]  (178, 178)     m     6.059  0.954
1   10.0  [(353, 85) (595, 267)]  (182, 182)     m     5.822  0.942
2   12.0  [(355, 87) (595, 267)]  (180, 180)     m     6.276  0.943
3   14.0  [(356, 88) (594, 266)]  (178, 178)     m     6.239  0.951
4   16.0  [(358, 89) (594, 265)]  (176, 176)     m     6.429  0.958

In [8]:
#with tracking
%time tracking_results = g.detect_with_tracking('/home/ddoukhan/demo_zohra/pretty_woman_small.mp4',k_frames=12)

CPU times: user 19min 3s, sys: 1min 1s, total: 20min 4s
Wall time: 4min 17s

In [10]:
tracking_results.head()

,frame,faceid,bb,size,label,decision,conf,smoothed_decision,smoothed_label
0,12.0,0,"[(355, 87) (597, 269)]","(242, 182)",m,8.007,0.943,9.8647,m
1,13.0,0,"[(355, 87) (596, 268)]","(241, 181)",m,8.452,0.943,9.8647,m
2,14.0,0,"[(355, 86) (597, 268)]","(242, 182)",m,8.271,0.943,9.8647,m
3,15.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.903,0.943,9.8647,m
4,16.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.966,0.943,9.8647,m

In [11]:
#processing every 2 frames
%time tracking_results = g.detect_with_tracking('/home/ddoukhan/demo_zohra/pretty_woman_small.mp4',per_frames=2, k_frames=12)

CPU times: user 12min 17s, sys: 36.3 s, total: 12min 53s
Wall time: 2min 33s

In [12]:
tracking_results.head()

,frame,faceid,bb,size,label,decision,conf,smoothed_decision,smoothed_label
0,12.0,0,"[(355, 87) (597, 269)]","(242, 182)",m,8.007,0.943,9.888375,m
1,14.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,8.360,0.943,9.888375,m
2,16.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.966,0.943,9.888375,m
3,18.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.584,0.943,9.888375,m
4,20.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.630,0.943,9.888375,m